[2017-08-22 04:07] Karthickkck opened #1 "How to run the app in Xcode."
![screen shot 2017-08-22 at 9 38 25 am](https://user-images.githubusercontent.com/19325688/29548344-acb6d4ee-871d-11e7-9bd6-7a7422087864.png)
i can't find the library in this source.

[2017-08-22 04:46] priteshrnandgaonkar commented on #1
Did you run `yarn` or `npm install` ? If not run this in the`CallDetectionExample` folder. Will update the README regarding running example. Let me know if this works for you.

[2017-08-22 05:38] priteshrnandgaonkar commented on #1
<img width="606" alt="screen shot 2017-08-22 at 10 33 29 am" src="https://user-images.githubusercontent.com/3865908/29549350-64d1b88a-8725-11e7-9824-6e826fb63341.png">

You will see the library in `Linked Framework and Libraries` section in the General Tab of Xcode. I have also updated the README regarding how to run the example app.

[2017-08-23 05:08] priteshrnandgaonkar commented on #1
I hope the issue is resolved, thus closing it. Feel free to reopen the issue if it still exist.

[2017-08-23 05:08] #1 closed

[2017-08-23 07:55] sumit-khajanchi opened #2 "How to get incoming number ?"
Hi There,

I just want to know that is there any method or something through which I can get the incoming number.

Thanks

[2017-08-23 09:50] priteshrnandgaonkar commented on #2
Unfortunately, there is no method for getting an incoming number. May be you can raise a PR. Or I will integrate it once I get time.

[2017-09-06 21:43] nezriffic commented on #2
Would be perfect to have a method to reject the incoming call as well :)

[2017-09-27 21:24] DragonRaider5 commented on #2
Hey guys,
I'm on it. Hoping to submit a PR soon. I've already identified the problem on android, it was about permissions not beeing granted properly.

[2017-09-29 02:09] DragonRaider5 commented on #2
Hi,
what about my PR? :)

[2017-09-29 06:41] priteshrnandgaonkar commented on #2
Hi,
Currently travelling, will look into it once I am back? Thanks for PR

[2017-09-29 11:54] DragonRaider5 commented on #2
Sounds good to me - you're welcome 😄 have a good time!

[2017-10-10 09:55] DragonRaider5 commented on #2
Hey,
how is it going? Did you have some spare time yet? ;)

[2017-10-10 15:24] priteshrnandgaonkar commented on #2
Hi,
This weekend, will see. Have been very busy. Sorry for the delay

[2017-10-31 21:19] AFMW opened #4 "Error on android build"
When i try to run the 'react-native run-android' command  it shows the following error:

my RN version is:  "react-native": "0.48.2" and the installed one of the 'react-native-call-detection' is: "react-native-call-detection": "^1.4.1"

[2017-11-01 16:58] DragonRaider5 commented on #4
Go into node_modules/react-native-call-detection/android/src/main/java/com/pritesh/calldetection/CallDetectionManager.java and remove the function (and the `@override`) starting at line 35. It turned deprecated (as it never rly was used) in one of the latest RN versions (I think it was 0.48 actually).

[2017-11-16 10:41] konstantin-mohin opened #5 "[Question] Can the library detect a VOIP call? (skype/whatsApp)"

[2017-11-23 00:48] priteshrnandgaonkar commented on #2
Closing it as this feature is added in #3

[2017-11-23 00:48] #2 closed

[2017-11-23 00:49] priteshrnandgaonkar commented on #4
Removed `@override`

[2017-11-23 00:49] #4 closed

[2017-11-23 00:50] priteshrnandgaonkar commented on #4
Check version `1.5.0`

[2017-11-30 10:36] martinlockett opened #6 "Error:(102) error: unknown element <uses-permission> found. (Android)"
In the manifest file, the line `<uses-permission android:name="android.permission.READ_PHONE_STATE"/>` is in the wrong place. It is nested under the Application tag and should be nested directly under the Manifest tag (see [Manifest](https://developer.android.com/guide/topics/manifest/manifest-intro.html))

Previous versions of AAPT have silently ignored this error but AAPT2 generates the build er

[2017-11-30 15:54] #6 closed

[2017-12-08 22:21] priteshrnandgaonkar commented on #5
No, It doesn't detect VOIP calls.

[2017-12-13 06:17] milon87 opened #9 "compileReleaseJavaWithJavac"
getting this error
Execution failed for task ':react-native-call-detection:compileReleaseJavaWithJavac'.

[2017-12-13 07:08] DragonRaider5 commented on #9
Having the actual compiler error would help :D also the RN version and the version of this package you're using might help.

[2017-12-13 07:13] milon87 commented on #9
can you plz explain a bit.

[2017-12-13 08:27] DragonRaider5 commented on #9
The error says `see the compiler error output for details`. This means that there was an extended error printed in your console when the build failed. Can you paste it here?

In addition I asked you about the react-native (RN) version you are using and the react-native-call-detection version you are using.
You can look them up in your package.json - it should look somewhat like this:
[code]

I hop

[2018-01-03 14:11] DragonRaider5 commented on #9
Hey,
does the problem persist with the newest version of this package?

[2018-01-07 17:23] DragonRaider5 commented on #9
Closing this issue as the error can't be reproduced and as @milon87 seems to be inactive at the moment.
Feel free to reopen if anybody has additional information!

[2018-01-07 17:23] #9 closed

[2018-01-16 10:57] mdusza opened #11 "[BUG] error during build process"
Hello,

I receive following errors when trying to run the app after linking the library:

[...]\android\app\build\intermediates\res\merged\debug\values-v24\values-v24.xml:3: AAPT: Error retrieving parent for item: No resource found that matches the given name 'android:TextAppe
arance.Material.Widget.Button.Borderless.Colored'.

[...]\android\app\build\intermediates\res\merged\debug\values-v24\valu

[2018-01-16 11:45] DragonRaider5 commented on #11
Hi,

Thanks for the report. How did you link react-native-call-detection?
I currently don't know how this issue could be related to RNCD, would it be possible for you to share a Repo reproducing this error?

[2018-01-16 12:27] mdusza commented on #11
@DragonRaider5

I used `react-native link` command and verified manually that it has linked correctly, according to the readme.
Unfortunately I can't share the repo I'm working on right now, but I'll try to setup a clean app and recreate the problem.

[2018-01-16 13:38] DragonRaider5 commented on #11
Thanks, I'm looking forward to the test project - I'll try my best to solve the issue if it's reproducible that way.

[2018-01-18 18:44] mdusza commented on #11
@DragonRaider5

[Here](https://github.com/mdusza/rncd-bug) is the repo which experiences the same error.
What I did is creating the new app using `react-native init`, added and linked rncd.

[2018-01-19 11:01] priteshrnandgaonkar commented on #11
I will release a new version in npm once the PR for this fix is raised and merged. 😉

[2018-01-25 21:49] priteshrnandgaonkar commented on #11
Released 1.6.2

[2018-01-25 21:49] #11 closed

[2018-02-10 16:35] #5 closed

[2018-02-21 12:37] janmisek1 opened #15 "link error"
`react-native link react-native-call-detection`

crete only: `new CallDetectionManager()` `MainApplication.this` has to be added manualy.

[2018-02-22 14:06] priteshrnandgaonkar commented on #15
Yeah, it has to be added manually. There's no way around as far as I know. Closing the issue. Please reopen it, if something is unclear.

[2018-02-22 14:06] #15 closed

[2018-03-05 09:16] jihokim2 opened #16 "I want to receive Disconnected event when I call someone"
Hello. I develop app using this library.
But I found one problem
When I call someone, I can not receive disconnect event. Just I receive event when someone call me.
Are you add this event or fix this event? Thank you

[2018-03-05 09:58] DragonRaider5 commented on #16
Hi,

Thanks for reporting this issue.

On which platform does this problem occur?
Could you maybe setup a small repo showcasing the issue?

jihokim2 <notifications@github.com> schrieb am Mo., 5. März 2018, 10:16:

[2018-03-05 10:07] jihokim2 commented on #16
I see this issue occurs every time in android(I didn't see IOS). So I think when you know this problem, you can fix it easily.
here is simple example.

let callDetector;
componentDidMount() {
        callDetector = new CallDetectorManager((event)=> {
            if (event === 'Disconnected') {
                // Do something call got disconnected
                this.setState({modalVisible: true,

[2018-03-05 10:12] DragonRaider5 commented on #16
Hi,

Could you please check wether you receive a `Missed` event instead? I currently can’t try it out myself ;)

[2018-03-05 10:24] jihokim2 commented on #16
No I can not receive any event. After I modify manager java file I can receive what I want. If you have time, please fix it.

[2018-03-05 10:25] DragonRaider5 commented on #16
If you've already fixed it, could you maybe open a PR with the fix or just send it here? I should not try to fix it again if you've already done so 👍

[2018-03-05 10:28] jihokim2 commented on #16
I will send here the code tommorrow. Thank you

[2018-03-05 22:06] arrygoo commented on #16
@jihokim2 @DragonRaider5 I'm having the exact same issue on Android. Once the phone call starts it emits a `Offhook` event, but after that I don't get any events emitted when the phone call is disconnected. Looking forward to seeing your PR!

[2018-03-06 01:43] jihokim2 commented on #16
[CallDetectionManagerModule.java.zip](https://github.com/priteshrnandgaonkar/react-native-call-detection/files/1783212/CallDetectionManagerModule.java.zip)

I modify file and explain what I think. Please modify this file using this.

[2018-03-06 18:00] arrygoo commented on #16
@jihokim2 Hey that solution worked for me!
Also I found this fork: https://github.com/soledaddiez/react-native-call-detection
Which does not have the said issue for me. Might be worth giving a try?

[2018-03-06 18:39] hchac opened #17 ""Disconnect" event when switching back to app while phone call still in progress"
Hello,

I am having an issue on Android relating to getting a "Disconnect" event when I switch back to my app, while a phone call is still in progress.

Specifically, [this line](https://github.com/priteshrnandgaonkar/react-native-call-detection/blob/e63c3304558d4214aa7370f85497f1345fb54034/android/src/main/java/com/pritesh/calldetection/CallDetectionManagerModule.java#L88) in the if statement.

S

[2018-03-06 20:07] DragonRaider5 commented on #16
Hey,

Thanks for your help - I'll commit this fix to the codebase tomorrow.

@priteshrnandgaonkar can you push the new release to npm afterwards? Thanks in advance.

[2018-03-06 20:13] DragonRaider5 commented on #17
Hey,

If I'm remembering everything correctly, apps running in the background don't properly receive call state events (on android) - that's why we reset the current state and emit a 'Disconnected' event, assuming that he call has ended in the due time.

[2018-03-07 18:25] hchac commented on #17
Hey DragonRaider5,

I see, so the assumption is that if the app using react-native-call-detection comes back to the foreground, then the call must have ended?

And if that's not the case (the call is still in progress), then unfortunately it will still receive a "Disconnect" event, because Android is not sending call state events to app's running in the background so this is the only workaround th

[2018-04-12 04:33] VladimirShestakov opened #18 "stop calling"
Can the library stop (block) an incoming call?

[2018-04-12 09:18] DragonRaider5 commented on #16
Fixed the bug in PR #19 - please excuse the delay, I was very busy with private projects 😞

@priteshrnandgaonkar ready for NPM ;D

For the meantime (until the new version is on NPM) you can install this package directly from GitHub using `npm i --save git+https://github.com/priteshrnandgaonkar/react-native-call-detection.git`

[2018-04-12 09:31] DragonRaider5 commented on #17
Yes, the second paragraph is right. We don't know wether or not the call has ended yet and that's why we assume it did in order to not mess up the next events and to prevent apps using our library from "thinking" that the call never ended - even if it actually did while the app was in background.

[2018-04-12 09:32] DragonRaider5 commented on #18
No, it is written only for listening to call state events.

[2018-04-12 09:32] #18 closed

[2018-05-09 04:37] csepulv opened #20 "Feature Request: add "Dialing" support for Android"
While the Android TelephonyManager doesn't support outgoing/dialing directly, would it be possible to map "Dialing" to the a [BroadcastReceiver](https://developer.android.com/reference/android/content/BroadcastReceiver) and use the  [ACTION_NEW_OUTGOING_CALL](https://developer.android.com/reference/android/content/Intent#ACTION_NEW_OUTGOING_CALL) intent?

[2018-05-21 07:11] konstantin-mohin opened #21 "Crash: Attempt to invoke virtual method 'void android.telephony.TelephonyManager.listen(android.telephony.PhoneStateListener, int)' on a null object reference com.pritesh.calldetection.CallDetectionManagerModule.stopListener"
Hi,

sometimes a mysterious crash happens  on android devices,
there is no scenario to reproduce it,

mb we should add an additional `if statement ` to prevent this crash ?

[2018-05-22 11:20] #16 closed

[2018-05-22 11:26] DragonRaider5 commented on #20
Could this "technique" also be used to address #17?

[2018-05-22 11:32] DragonRaider5 commented on #21
Hi,

thanks for reporting this issue. Adding an `if` to prevent this from happening seems valid - although I'd like to find the source of this problem, as it was never reported before (and this `if` might be a solid yet bad way around if we don't understand what really happens and than occasionally brick the call detection).

On which Android version does this problem occur? Maybe it is related to

[2018-05-22 14:34] csepulv commented on #20
Probably. I wound up skipping React Native and writing native iOS (CallKit) and Android apps. For Android, I found these very helpful:
http://www.theappguruz.com/blog/detecting-incoming-phone-calls-in-android
https://gist.github.com/ftvs/e61ccb039f511eb288ee

[2018-05-22 14:34] #20 closed

[2018-05-28 12:34] konstantin-mohin commented on #21
@DragonRaider5 hi,

yeah just thought to add this as a workaround

it was LG G5 on Android 6.0.1

I think that this is just related to API changes

need to learn Java =)

[2018-06-07 13:28] DragonRaider5 commented on #21
For a short term fix we could add the `if statement` mentioned above. However I'm not sure about how this is going to impact the reliability of the module.

[2018-06-07 13:32] konstantin-mohin commented on #21
@jacobbeasley

no, it is not.

it is difficult to reproduce the crash, I've changed my code since I think it's related to API...

I'll update you if it helps.

[2018-06-07 13:42] jacobbeasley commented on #21
I'll dig through the Java code today and see if I can recognize any way that this might be happening. I agree that it's important to understand the root cause of the issue.

[2018-06-07 13:43] DragonRaider5 commented on #21
I think I might have tracked it down (maybe, just guessing) - as the error indicates, it crashes at `stopListener` in [CallDetectionManagerModule.java](https://github.com/priteshrnandgaonkar/react-native-call-detection/blob/master/android/src/main/java/com/pritesh/calldetection/CallDetectionManagerModule.java) at line 53.
This could mean, that you call `callDetector.dispose()` after the user previ

[2018-06-07 14:03] DragonRaider5 commented on #21
Anybody willing to test it?

[2018-06-07 14:11] jacobbeasley commented on #21
I want to see if I can replicate the "glitch" (based on your recommendation) first, but yeah I'll do some testing later today.

[2018-06-07 14:12] DragonRaider5 commented on #21
So, could you replicate it?

[2018-06-07 14:13] jacobbeasley commented on #21
I'll test to see if I can replicate it consistently later today... Then
I'll implement your suggested fix and see if it works.

On Thu, Jun 7, 2018, 9:12 AM DragonRaider5 <notifications@github.com> wrote:

[2018-06-07 14:42] jacobbeasley commented on #21
Okay, so I personally couldn't replicate it in the wild, but when I called dispose() twice, it did replicate the crash. So, as you suggested, I bet it happens when the app isn't given permission OR if there is a race condition between permission being granted and dispose() being called.

Instead of adding a null check, another approach might be to track app state. So, in startListener() you could

[2018-06-07 14:44] jacobbeasley commented on #21
Dumb question - so, my app never really unsubscribes from the call detector except for when the app closes. Could I just comment out the call to dispose() to avoid this issue?

[2018-06-07 14:48] jacobbeasley commented on #21
By the way, I just wanted to comment on how useful a project this is. Thanks for all of your work putting it together!

[2018-06-21 09:55] rockyhuber commented on #2
Hi,
What about rejecting a phone call? I second that notion for it being a great feature.

[2018-06-30 20:09] DragonRaider5 commented on #21
Hm... For some reason I have to write "sorry for for the late response" quiet a lot today...

However: Not calling `dispose` at all won't really fix your issue and will result in your app not properly cleaning up.

Instead I'd recommend to track wether or not you're granted the permission and only call `dispose` if you've been granted permission.

This could be done in this manner:

[code]

Howeve

[2018-07-20 05:34] Udbhav12 commented on #2
Hi

Is it possible to get incoming number in iOS?

[2018-08-23 07:51] basheerkohli opened #23 "Disconnected state while bringing application to foreground eventhough call in progress"
Hi Pritesh,

How can i handle the call end state the problem is here because of   when am returning to my application when the call is intact callback state is then disconnected eventhough my call is going in background .I figured it this happens because of this code right.So can u please let me know why u have written this.

    @Override
    public void onActivityResumed(Activity activity) {

[2018-08-23 07:59] DragonRaider5 commented on #23
See #17

[2018-08-23 07:59] #23 closed

[2018-08-26 13:30] payshah opened #24 "CallDetectionManager requires main queue setup since it overrides `constantsToExport` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of."
Hello,
After upgrading react-native with the react-native-call-detection we get the following warning:

Problem:
CallDetectionManager requires main queue setup since it overrides `constantsToExport` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

Resolution:
can

[2018-08-28 11:13] top-master opened #25 "build error for junit"
please add below to `build.gradle` so I no longer need to do that manually:
`testCompile "junit:junit:4.12"`

[2018-09-23 17:15] #24 closed

[2018-10-28 08:26] emranio opened #27 "question: does the detection works when the app is in background or closed?"
I want to detect the call state and run some js code even if the app is closed or in background mode. any help or information regarding achieving that?

thanks, it's a very useful package :) #

[2018-11-04 16:33] DragonRaider5 commented on #27
Hey,

sadly I'm not sure whether or not this is possible using `react-native` at all. If it is, I'm not capable of helping you to achieve it.

Happy that the package helps you 👍

[2018-11-04 16:34] #21 closed

[2018-11-14 00:46] bkkwok commented on #27
If its possible with an ios or android shouldn't it be possible with react-native by using/creating a native module?

[2018-11-15 18:56] priteshrnandgaonkar commented on #27
I think its not possible in iOS. For iOS once the app is terminated you can't detect anything. Whereas in  background mode for iOS you can do stuff, but the background mode may exist for a brief time and its generally meant for finishing off any undone work. Not sure about android though.

[2018-12-03 16:04] code-johnny-code commented on #17
@DragonRaider5 What is the purpose of the `onActivityResumed` method?
https://github.com/priteshrnandgaonkar/react-native-call-detection/blob/fd409c6c65bd03937f9c3c03b984d1c62fe2b0c4/android/src/main/java/com/pritesh/calldetection/CallDetectionManagerModule.java#L84-L90

 I have been doing some testing and find that if I remove lines 86-89 the call state events fire appropriately even with the And

[2018-12-03 16:12] DragonRaider5 commented on #17
Hi @code-johnny-code ,

have you tried out what happens when the call disconnects while the app is in background? Based on our findings (and the way RN was supposed to work on Android), no events are processed when the app is closed. This is why we just assume the call has disconnected as the app gets into foreground again.

Let me know what you experienced, thanks for your contribution! :)

Maybe

[2019-01-03 16:12] #17 closed

[2019-02-27 14:45] zishe opened #30 "I don't see a caller number on Android"
I created an app with this package and it works on RN 0.58 https://github.com/zishe/call-detector . The only thing is that I don't see a caller number. Code is almost the same as in your example.

[code]

[2019-02-27 15:24] DragonRaider5 commented on #30
Is this on Android or iOS?

Alexander Kireev <notifications@github.com> schrieb am Mi., 27. Feb. 2019,
15:45:

[2019-02-27 15:35] zishe commented on #30
Android

[2019-02-27 16:59] zishe commented on #30
Maybe because it was Java 11. I'll check with 8th version.

[2019-02-27 18:34] DragonRaider5 commented on #30
Thanks for your testing, please hit me back! :+1:

Alexander Kireev <notifications@github.com> schrieb am Mi., 27. Feb. 2019,
17:59:

[2019-03-01 00:40] zishe commented on #30
@DragonRaider5 still the same. Is it because of a new version?

[2019-03-01 01:36] zishe commented on #30
I just checked you example - same result, it doesn't show a number from which I call.

[2019-03-01 02:25] zishe commented on #30
Finally, you need to have `READ_CALL_LOG` permissions. I wrote next function for requesting them:

[code]

And I've added it to manifest file:

[code]

[2019-03-01 02:27] zishe commented on #30
You can check my example project https://github.com/zishe/call-detector and it would be great if you actualize all versions. I can't help you at the moment, cause of too much work.

[2019-03-01 02:50] zishe commented on #30
Ugh, hack, but I need to find out the phone number by which I call. It's null at the moment.

[2019-03-04 15:32] zishe commented on #30
@DragonRaider5 does it work for you?

[2019-03-05 00:19] zishe commented on #30
@DragonRaider5 https://github.com/priteshrnandgaonkar/react-native-call-detection/blob/aacf9229071c12a50317dacf9ea5006af4d4e354/android/src/main/java/com/pritesh/calldetection/CallDetectionManagerModule.java#L130 why it's null here?

[2019-03-07 01:15] zishe commented on #30
Oh, and on my devise it doesn't show phone number too - Android 8.1

[2019-03-07 07:30] zishe opened #31 "Error with specific gradle settings"
I have to use next settings in `android/gradle.properties`

[code]

And with this module, code have an error:

[code]

How to deal with this issue? Can I replace Nullable with something else?

[2019-03-07 08:04] zishe commented on #31
I solved it by removing `Nullable`, but I'm not sure how safe is it.

[2019-03-07 12:10] DragonRaider5 commented on #30
Because phone number detection was only developed for incoming calls.

I'd not call updating permissions to match android changes a hack.
Currently I'm very busy too, but I'll try it as soon as possible.

In addition, we'd need @priteshrnandgaonkar to push the updates to npm.

[2019-03-08 00:37] zishe commented on #30
@DragonRaider5 I understand. Well, everything works in my fork https://github.com/zishe/react-native-call-detection/ , if someone need this solutions he can get it from there.

I can close it if this is not an issue.

[2019-03-11 08:56] knalliyappan opened #32 "Invariant violation: Native module cannot be null"
While use the react-native-call-detection with existing project (Project contain the pod file) got the "Invariant violation: Native module cannot be null" in iOS platform.
=> Without pod file working file.
![Call_Detection](https://user-images.githubusercontent.com/48433441/54111309-95323200-4409-11e9-8b24-e8f29fe54a68.png)

Versions:
 "react": "16.4.1",
 "react-native": "0.56.0",
 "react-native-c

[2019-03-13 11:12] priteshrnandgaonkar commented on #30
Sorry for the delayed response. @DragonRaider5, I can publish an new update to npm

[2019-03-13 11:15] priteshrnandgaonkar commented on #30
@zishe, can you put up the PR to fix the issue.

[2019-03-13 11:39] priteshrnandgaonkar commented on #30
@DragonRaider5, Published 1.7.1.

[2019-03-15 11:50] ayozebarrera opened #33 "How manage calls on my app"
Hi guys.. noob question, for android:

When I receive a call, **even with my app as default phone app**, it switch to the Phone call of Android. How can I achieve that my app doesn't switch to another app, so I can do whatever I want when a call is incoming?

I tried to create an own InCallService class empty but when I receive a call, my app crashes

Thanks for the help!

[2019-04-15 17:12] guhyeon commented on #30
[code]

[2019-05-30 20:52] joetannenbaum commented on #32
@knalliyappan I don't know if you're still using this library or solved this issue, but I came across the same error and realized that I had never run `pod install` after the `react-native link` step. Fixed the issue for me.

[2019-06-10 21:11] julioxavierr opened #36 "Bridge is flasky on iOS"
I set up the CallDetector in `componentDidMount` on one of my screens, pretty much in the same way that it was set on the example:

https://github.com/priteshrnandgaonkar/react-native-call-detection/blob/7c47b4d2c3510377e890e7b825f8c59c1f42dfc8/CallDetectionExample/src/HomeComponent.js#L29

However, from time to time I receive the following error (it doesn't happens every time, but frequently) aft

[2019-06-12 06:17] gurw opened #37 "Call detection Does not work when app is closed"
hello SIr,

The call detection is not working when app is not run in background .
please give me any salution how to solve it and how to use Broadcast receiver in call detection.

[2019-07-02 16:54] costel21d opened #38 "Any ideea if it works with react-native 0.22.2 ?"
I have a project in RN 0.22.2 and I want to use this call-detection package but I can not integrate it in my project, to many errors.

[2019-07-11 03:41] soledaddiez commented on #36
We are getting the same issue
[code]

[2019-07-17 04:23] julioxavierr commented on #36
@soledaddiez I'm using this repo for now:
https://github.com/liamse/react-native-call-observer
But it's only implemented for iOS. Hope it solves your problem in the meanwhile.

[2019-07-31 18:57] dowatugkins commented on #36
@julioxavierr @soledaddiez If you could pull my branch and test to see if it fixes your issue, that would be great. We also ran into this issue, and noticing that this repo uses the deprecated API CallTelephony I updated the iOS side to use the new CallKit API instead. So far I haven't seen any crashes and get the same events as expected when expected.

[2019-08-03 00:40] julioxavierr commented on #36
Will do it and let you know, thanks for helping @dowatugkins

[2019-09-15 08:31] SnehalAgrawal opened #42 "Facing the issue while running with Android rror: constructor CallDetectionManager in class CallDetectionManager cannot be applied to given types; new CallDetectionManager()^"
Hey Hi,
I am facing issue while running the app on Android. Below are error logs. Is there any one who have the idea how to deal with it?

error React Native CLI uses autolinking for native dependencies, but the following modules are linked manually:
  - react-native-call-detection (to unlink run: "react-native unlink react-native-call-detection")
This is likely happening when upgrading React Nati

[2019-09-25 07:55] costel21d opened #43 "CallDetectorManager not working on iOS RN 0.5.10"
callDetector = new CallDetectorManager((event, number) => {
     console.log("-- ios event");
     console.log(event);
      }

I have put this inside componentDidMount and the log is not printed on iOS, only For Android.
Any idea? I have to enable some permissions in info.plist?

In the example code it is working fine.

[2019-09-26 10:38] AsheeshPandey1995 opened #44 "react-native-call-detection is not working with react-native 0.60.5"
/react-native-60/android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java:90: error: constructor CallDetectionManager in class CallDetectionManager cannot be applied to given types;
      new CallDetectionManager(),
      ^
  required: Application
  found: no arguments
  reason: actual and formal argument lists differ in length
1 error

FAILURE: Build failed with an exce

[2019-09-27 05:45] costel21d commented on #43
FIXED: Library was not linked correctly in Xcode porject.

[2019-09-27 05:45] #43 closed

[2019-09-27 05:47] costel21d opened #45 "iOS running in background"
How can I make it work to detect events when the app is running in background on iOS ?

[2019-09-30 11:28] usman-ghani127 commented on #42
After adding and linking the package, disable auto linking of this package by adding
`
dependencies: {
    'react-native-call-detection': {
      platforms: {
        android: null,
      },
    },
  },
`
to your react-native.config.js

[2019-10-02 13:52] AlirezaAzizi145 opened #46 "Native module cannot be null"
hello. i have "Native Module Cannot Be Null" error only on IOS. it is work fine on android

[2019-10-02 14:09] AlirezaAzizi145 commented on #46
it is solved. package is not linked on ios so i link it manual

[2019-10-02 14:09] #46 closed

[2019-10-11 15:22] yogevlahyani commented on #37
+1

[2019-10-18 10:43] costel21d opened #47 "Android Issue: Violation of Permissions policy"
I have this issue, the app can not be approved in Google Play Store because I use READ_CALL_LOG permission and in declaration form I don't know what should I choose.

I use only phone number for incoming and outgoing calls to suggest client records that are already from our app db.

https://i.redd.it/se0p9gcukm521.png

Can anybody help me?

[2019-11-05 10:06] kailashvele commented on #44
Try adding following in your MainApplication.java

`@Override
    protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
          new MainReactPackage(),
            new CallDetectionManager(MainApplication.this),`

[2019-11-05 10:08] kailashvele opened #49 "Doesn't work in Release Mode or if there is Truecaller installed"
It works fine on the Debug mode but doesn't work in the release mode.

Also if there is Truecaller it doesn't work.

When I say it doesn't work what I mean by that is Call End event is not fired for the above two scenarios.

[2019-11-16 08:28] NareshNama commented on #42
i am also facing same issue any solution.

[2019-11-23 09:39] anurbecirovic commented on #44
Still the same problem

[2019-11-23 10:28] anurbecirovic commented on #42
@usman-ghani127 Solution works, but the library doesn't work at all. Not sure why it's not recognizing any activity when calling or receiving calls.

[2019-12-03 05:24] usman-ghani127 commented on #42
You, probably, forgot to manually link the library.
`react-native link  'react-native-call-detection'`

[2019-12-03 11:43] #30 closed

[2019-12-03 12:19] SnehalAgrawal commented on #47
Can you please have a look at [this](https://stackoverflow.com/a/55394807)?  The suggestion from this guy can help you.

[2019-12-03 12:22] SnehalAgrawal commented on #49
There is a long explanation for that. I suggest going through the link suggested below.
https://www.reddit.com/r/androiddev/comments/anc3xa/im_frustrated_from_google_read_call_log_permission/

[2019-12-09 05:34] Taque commented on #45
Use react-native "APP State" to Detect background events

[2019-12-09 06:31] roysG commented on #42
where should i find the file "react-native.config.js" ?
I am using rn 0.61.5

[2019-12-09 06:36] roysG opened #50 ""Suggestion: add 'tools:replace="android:allowBackup"' to <application> element""
i am using react native 0.61.5
react-native-cli: 1.0.0

I get this unexpected error when build app

Roys-MBP:app roysabah$ react-native  run-android
info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
Jetifier found 1642 file(s) to forward-jetify. Using 8 workers...
info JS server already running.
info Launching emulator...
error Failed to launch

[2019-12-09 07:47] anurbecirovic commented on #42
@roysG create it manually in root folder of the project.
![Screenshot 2019-12-09 at 08 46 56](https://user-images.githubusercontent.com/24942592/70416957-7cba7b00-1a60-11ea-98a1-7a70b7357596.png)

And just add this code

`module.exports = {
  dependencies: {
    'react-native-call-detection': {
      platforms: {
        android: null,
      },
    },
  },
};`

Hope this will fix your problem

[2019-12-13 22:02] Rnorback opened #58 "Help avoid installation hardship - please release the newest version of this code and update the docs 🙏"
Hi 👋,

Just wanted to make a small request to create a tag or release the newest version of this code on `master`.

I went on a wild goose chase because I downloaded this package through yarn and it doesn't have the most recent changes on master.

Master uses `CXCallObserver` which is the up-to-date way to detect calls on iOS.

Or can we just add to run this yarn command in the Readme?
`yarn add h

[2019-12-13 22:55] Rnorback commented on #58
Also, adding the step to run `pod install` would be helpful as well.

[2020-01-03 17:17] roysG opened #60 "i get always permission denied"
What permissions do i nee to ask?

[2020-01-14 21:28] hostcia opened #61 "Error using library react-native-call-detection"
I am trying to use the react-native-call-detection library to get the incoming call number.

But when I start the android emulator this low error appears.

I have already run react-native unlink react-native-call-detection, but the error continues. Having identify the other mistakes but to no avail!

If I completely remove react-native-call-detection then the emulator opens without any error.

Can

[2020-01-27 13:51] appy9 commented on #61
I added this attribute in application tag
`tools:replace="android:allowBackup"` and it worked.

[2020-02-06 18:53] dcenatiempo opened #62 "v1.8.2 Android auto linking not working with RN 61.5"
V 1.8.2 doesn't seem to be working correctly on RN 61.5. It builds fine with no errors/crashes, but the listener is never triggered.

I am not sure if I have everything installed correctly. I am very confused because on here https://www.npmjs.com/package/react-native-call-detection the install instructions say to edit the `MainApplication.java`, `settings.gradle` and `build.gradle` files, but on g

[2020-02-06 19:43] dcenatiempo commented on #62
Actually, It was building because I was not autolinking in the react-native.config:
[code]
when I remove this, I get an error in the build:
[code]

[2020-02-07 16:39] dcenatiempo commented on #62
OK, I changed the title of this issue. I was able to get the package to work, but it required manual linking. The documentation says that autolinking should work, but i could not get it to work in my setup.

[2020-02-11 08:32] muzamilijaz commented on #2
Hi ,
It is possible to reject/block a call using this library ? A great feature , will be appreciated

[2020-02-11 15:32] talha-ahmed commented on #62
Yes I believe the fix for that is not published to npm. If you use
"react-native-call-detection": "github:priteshrnandgaonkar/react-native-call-detection.git#d6e90c32188341b36508853eb743b9a475acdd5a",

in your package.json then it works

[2020-02-11 15:35] talha-ahmed commented on #62
I did leave a comment here
https://github.com/priteshrnandgaonkar/react-native-call-detection/commit/d6e90c32188341b36508853eb743b9a475acdd5a#comments

[2020-02-14 21:09] sidferreira commented on #25
I just had this issue...

[2020-02-15 12:42] ihabkhaled commented on #60
is there any solution for this ?

[2020-02-18 15:46] renege opened #63 "CallDetectionManager cannot be applied to given types; new CallDetectionManager(), > FAILURE: Build failed with an exception."
Why is this not working? I have this package as my only package used in the project:

[code]

[code]

[2020-02-19 13:16] renege opened #64 "Background working on Android?"
Hello,
I got it to work, but it only works when the App is in the Foreground.
How can I make it to work that the App will open when there is a Call detected on an Android device?

[2020-03-06 20:02] nmaddock opened #65 "Phone Number missing"
I can't seem to capture the outgoing number, all th events are capturing fine.

this.callDetector = new CallDetectorManager((event, phoneNumber)=> {

      alert(event);
      alert(phoneNumber);

phoneNumber is undefined

is it possible to capture the number your calling in iOS?

[2020-03-08 11:55] DragonRaider5 commented on #65
Sadly it isn't AFAIK (due to privacy concerns, at least the last time I checked). Correct me if I'm wrong, providing a source. In that case we might be able to add it to our library :)

[2020-03-08 11:55] #65 closed

[2020-03-08 11:58] DragonRaider5 commented on #60
You can use `requestPermissionsAndroid()`. See `src/index.js` for its call signature.
Did this solve your issue?

[2020-03-08 20:07] syllasrangel commented on #64
The [react-native-foreground-service](https://github.com/voximplant/react-native-foreground-service) solved my problem. With react-native-foreground-service the application remains running as if it were in the foreground, even when the user closes the app (a notification is displayed to inform that the app is still running). To do this, simply starts both the call detector listener and the foregro

[2020-03-09 10:50] DragonRaider5 commented on #58
@Rnorback do you think you could provide a PR for the second request?

@priteshrnandgaonkar what do you think about a new release on npm?

[2020-03-09 12:27] renege commented on #64
@syllasrangel great, but i have to support android 7. then it is not a solution. right?

[2020-03-09 15:43] syllasrangel commented on #64
Actually, the react native foreground service supports Android 7 as well. Indeed, the demo provided by the module requires minimum SDK version 19 (Android 4.4).

[2020-03-16 07:17] DragonRaider5 commented on #60
Closing because of no feedback. Will be reopened in case we get a response.

[2020-03-16 07:17] #60 closed

[2020-03-23 11:21] #64 closed

[2020-03-25 11:24] romreed commented on #37
+1

[2020-03-25 11:29] DragonRaider5 commented on #27
See #64 for an android solution.

[2020-03-25 11:29] #27 closed

[2020-03-25 11:30] DragonRaider5 commented on #37
See #27 and #64

[2020-03-25 11:30] #37 closed

[2020-03-30 15:11] manjeets12 commented on #21
is that fixed?

[2020-04-09 12:36] MustaphaGhlissi opened #66 "How to open the app when incoming call is detected ?"
Does this lib able to provide a way to launch the app when call is incoming ?

Thanks,

[2020-04-13 21:15] wefyns commented on #63
I solve this
I think this library don't support react autolinking, because to solve it you need to disable this library in autolinking

create "react-native.config.js" file in your root directory
and past this code
// react-native.config.js
[code]
then you need link it by command "react-native link react-native-call-detection" (if it dont work use manual link instruction in main page)

one part ma

[2020-04-13 21:20] wefyns commented on #50
in you android/app/main/AndroidManifest.xml
edit android:allowBackup="true"

[2020-04-14 11:56] MustaphaGhlissi opened #67 "Does this lib helps to deal with Dialer app ?"
I need to now if this lib helps to deal with a dialer app,

I am working with an app lkike TrueCaller, so does this lib help to detect calls and  use my app as default dialer ?

Thanks

[2020-04-16 11:15] priteshrnandgaonkar commented on #58
Made an npm release

[2020-04-16 11:15] #58 closed

[2020-04-16 11:17] priteshrnandgaonkar commented on #36
Closing it as its a stale issue

[2020-04-16 11:17] #36 closed

[2020-04-16 11:20] priteshrnandgaonkar commented on #62
Apologies for delay. I have made a release. Closing the issue, feel free to reopen it, if the problem still persists.

[2020-04-16 11:20] #62 closed

[2020-04-16 11:22] priteshrnandgaonkar commented on #63
I have made a new release, and apparently it should fix it, let me know if it doesn't, the issue seems to be duplicate of [this](https://github.com/priteshrnandgaonkar/react-native-call-detection/issues/62)

[2020-04-16 11:22] #63 closed

[2020-04-16 11:26] priteshrnandgaonkar commented on #49
Closing the issue, reopen it if the above thread doesn't answer the question

[2020-04-16 11:26] #49 closed

[2020-04-16 11:27] priteshrnandgaonkar commented on #66
No it doesn't provide a way to launch an app when call is incoming.

[2020-04-16 11:27] #66 closed

[2020-04-16 11:28] priteshrnandgaonkar commented on #61
Reopen it if the it still persists.

[2020-04-16 11:28] #61 closed

[2020-04-19 02:46] keithhackbarth commented on #42
To anyone else that ran into this, my issue was that my MainApplication java had `new CallDetectionManager(MainApplication.this),` instead of `new CallDetectionManager()`. For some reason, unlink to link didn't solve.

My steps were as follows:

- Upgrade library to latest version
- react-native unlink 'react-native-call-detection'
- Remove all orphaned references to CallDetectionManager from Main

[2020-06-03 19:11] alejandroAhumada opened #68 "Connected for Android"
Hello!!
Is there the possibility of implementing Connect on Android?
Regards!

[2020-06-16 11:22] akshaykatale99 opened #69 "How to listen for call detection events in background or foreground mode.?"
Want to detect the same call state event when app is in background or foreground mode. how can I archive that using this lib?

[2020-06-22 20:47] alejandroAhumada opened #70 "Phone number iOS"
Hi, is there any way to capture the "phoneNumber" from iOS?

[2020-08-12 08:07] RRMoelker opened #71 "Android build: org.juint does not exist"
When running a `react-native run-android --variant=release` the build fails when this library is included.

The problem I'm facing is:

[code]

using version 1.9.0:
[code]

[2020-08-24 09:52] lynshashank opened #72 "Listview and faltlist not working . What to do ?"

[2020-08-24 13:35] DragonRaider5 commented on #70
Looking at [the CallKit Docs](https://developer.apple.com/documentation/callkit) this should be possible now. AFAIK it's currently not implemented in this library, it would be possible though.

[2020-08-24 13:35] DragonRaider5 commented on #72
Hey @lynshashank ,

can you please provide additional information?

[2020-08-24 13:38] DragonRaider5 commented on #69
This is not possible using this package alone.

[2020-08-24 13:39] DragonRaider5 commented on #67
No, this package only acts as a call state listener.

[2020-08-24 13:39] #67 closed

[2020-08-24 13:40] DragonRaider5 commented on #50
@roysG did this solve your issue?

[2020-08-24 13:43] DragonRaider5 commented on #47
@costel21d sorry for the late answer, but the question in your image suggests that all of the use-cases are not allowed. Did you solve your issue in the meantime?

[2020-08-24 13:52] #42 closed

[2020-08-24 13:52] DragonRaider5 commented on #42
Please comment in case @keithhackbarth 's solution did not work for you.

[2020-08-24 13:54] DragonRaider5 commented on #44
Please have a look at #42 . Comment there in case the issue persists.

[2020-08-24 13:54] #44 closed

[2020-08-24 13:54] #38 closed

[2020-08-24 13:56] DragonRaider5 commented on #33
Hey,

I think we are not the right people to help you here. Please try asking your questions on Stackoverflow, there's a higher chance that you get a good answer there.

[2020-08-24 13:56] #33 closed

[2020-08-24 13:59] DragonRaider5 commented on #25
@top-master @sidferreira thanks for the catch, do I have to put it into root or "android"? Sorry, I'm not into android development atm.

[2020-08-24 13:59] DragonRaider5 commented on #71
See  #25, I will merge this ASAP.

[2020-08-24 13:59] #71 closed

[2020-08-24 14:00] #32 closed

[2020-08-24 14:02] DragonRaider5 commented on #31
Please comment in case anyone else runs into this issue.

[2020-08-24 14:02] #31 closed

[2020-08-24 14:08] #50 closed

[2020-08-24 14:08] DragonRaider5 commented on #50
Also see #61.

[2020-09-02 19:39] 1-nty opened #73 "Unable to resolve module 'MessageQueue.js' Evaluating MessageQueue.js Evaluating react-native-call-detection.js Evaluating App.js Loading App.js"
Unable to resolve module 'MessageQueue.js'
  Evaluating MessageQueue.js
  Evaluating react-native-call-detection.js
  Evaluating App.js
  Loading App.js

[2020-09-07 13:06] #47 closed

[2020-09-07 13:06] #69 closed

[2020-09-07 13:06] #72 closed

[2020-09-17 15:58] myckhel commented on #60
To get incoming Phone Number
You need to ask for this permission `READ_CALL_LOG`

as stated in the android sdk doc https://developer.android.com/reference/android/telephony/PhoneStateListener#onCallStateChanged(int,%20java.lang.String)

[2020-10-05 09:15] peyman-hakemi opened #75 "answer call automatically after a short time out"
when my phone ring i want to answer the call after couple of second automatically

can any body help me that what should i do and witch methods or libraries should i use to make this happen

[2020-10-07 12:58] patryq955 opened #76 "Phone number is empty"
When I have an incoming call on a closed application and start the application. I get the number, but when I have an incoming call and answered a call on the closed application and I open the application and I get an empty string.

[2020-11-23 10:25] DragonRaider5 commented on #76
Hey @patryq955 ,

can you check whether the mentioned PR fixed it by installing react-native-call-detection from git using `npm install https://github.com/priteshrnandgaonkar/react-native-call-detection.git`?

Thanks in advance.

[2020-11-23 14:51] patryq955 commented on #76
works great
thanks

[2020-11-23 14:51] #76 closed

[2020-12-15 11:45] roysG commented on #21
Any update?

[2020-12-17 12:55] doronnahum opened #80 "background state support"
Hello,

Can this package run even if the app is in the background?

I need a service that can send an event to the server each time the phone is calling, even when the user is using a navigation app or something else

[2020-12-17 12:57] #80 closed

[2020-12-23 11:28] McDreamy commented on #62
event listener is not trigger when a phone call is made.

[2020-12-23 12:44] McDreamy opened #81 "event listener is not working"
cannot get event and phone number
it seems like it doesn't trigger the event listener.

[2020-12-29 15:59] klishinoleg opened #82 "NativeModules.CallDetectionManagerAndroid is null"
const NativeCallDetector = NativeModules.CallDetectionManager
const NativeCallDetectorAndroid = NativeModules.CallDetectionManagerAndroid

in \node_modules\react-native-call-detection\index.js

Constants is empty. What do i do wrong?

[2021-01-11 03:48] nguyenvanphuc2203 commented on #70
please implemented AFAIK :D, thanks 🍡

[2021-01-11 08:37] nguyenvanphuc2203 commented on #2
Is it possible to get incoming number in iOS?

[2021-01-11 21:31] maikenunes commented on #82
Hey @klishinoleg!

https://github.com/priteshrnandgaonkar/react-native-call-detection/pull/83
My PR should fix this issue.

Let me know if you need any help.

[2021-01-11 21:31] maikenunes commented on #81
Hey @McDreamy!

https://github.com/priteshrnandgaonkar/react-native-call-detection/pull/83
My PR should fix this issue.

Let me know if you need any help.

[2021-01-15 08:00] klishinoleg commented on #82
should this work in expo?

[2021-01-24 16:45] ddeschenes-logmein commented on #25
What is the solution for that ? I have the same issue. Where to put `testCompile` ?

[2021-01-25 15:13] ddeschenes-logmein commented on #25
Finally got it right. Into the main `build.gradle` file, under `android` package, add this to global config:
[code]

[2021-01-30 20:02] maikenunes commented on #82
I think so, but I didn't test it there though.

[2021-02-09 09:05] DragonRaider5 commented on #82
@klishinoleg does Expo support native modules? I think it doesn't, henceforth this module shouldn't work in there as well.

[2021-02-09 09:12] DragonRaider5 commented on #25
See #84.

[2021-02-09 09:12] #25 closed

[2021-02-09 11:02] klishinoleg commented on #82
I'll try soon, but I think only in bare mode after ejecting.

[2021-02-11 10:03] ynirmal2 opened #85 "phone number not recieved"

[2021-02-11 10:57] flhember opened #86 "Detect the state when starting the app"
Hi,
I am working on a project with a voice call, I would like to know if it is possible to have the statue in progress (whether it is on call or not) when the app is started.
thank you so much for this lib!

[2021-03-02 08:37] keith212005 commented on #85
you need permission READ_CALL_LOG if you want to get incomingNumber.

uses-permission android:name="android.permission.READ_CALL_LOG

[2021-04-15 10:55] zoobibackups opened #88 "App got crashes when it is running in background"
**app crashed when it is in the background. Here is the crash report**

[code]

[2021-04-21 23:43] namantayal opened #89 "Not working on android"
Tried all the possible solutions, but I am unable to receive any event in android.

[2021-04-22 00:46] #89 closed

[2021-04-22 06:31] #82 closed

[2021-04-22 06:32] DragonRaider5 commented on #70
@nguyenvanphuc2203 I'll happily review any PRs :)

[2021-04-22 06:33] #85 closed

[2021-04-29 06:39] zoobibackups commented on #80
I need the same. did anyone working on this. I have done this. but when the app goes to the background the app is getting crashed.

[2021-05-05 05:54] asepjumadi opened #90 "react-native-call-detection not working in android 10 & 11"
i test using hook reactnative 0.64.0 work in android 8.1 but not working in android 10 and 11
source code like this:
const startListenerTapped=()=> {
            const callDetector = new CallDetectorManager((event, phoneNumber)=> {
            // For iOS event will be either "Connected",
            // "Disconnected","Dialing" and "Incoming"

            // For Android event will be either "Offhoo

[2021-05-19 05:38] zoobibackups commented on #88
any update on this

[2021-05-27 08:24] jerry-inc commented on #90
I have figured that you need the following permissions for it to work

`    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="andr

[2021-07-13 05:20] AftabUfaq commented on #88
The same error got on play store.

[code]

[2021-07-13 05:52] AftabUfaq commented on #21
why this is closed. there is still issue in this library.

[2022-01-25 19:13] sidferreira opened #99 "Tag for v1.9.0 doesn't exist"
Also missing on Package.json

[2022-02-09 16:54] alexanderKhvostov opened #101 "Execution failed for task ':react-native-call-detection:compileDebugUnitTestJavaWithJavac'."
<img width="602" alt="image" src="https://user-images.githubusercontent.com/59835805/153248568-029729a6-b9df-4588-9cad-1bc003e7b6ac.png">

Can't build android because of this error.
It work if I comment everything in /node_modules/react-native-call-detection/android/src/test/java/com/pritesh/calldetection/**ExampleUnitTest.java**

Looks like this test is broken.

How I can solve this problem?

I a

[2022-02-16 05:50] zoobibackups commented on #90
Does this work when app is in background or running a foreground service????

[2022-02-23 19:00] amartyach98 opened #103 "Is this package works in the background also (android/ios)?"

[2022-03-14 22:19] scottg489-tw opened #104 "Is READ_PHONE_STATE necessary?"
We're using this library to handle media behavior in our app to pause/resume when a phone call starts/stops. Looking over Android documentation I came across this:

https://developer.android.com/training/permissions/evaluating#pause-media

Which states:

This project's README states that:

Given the above documentation, does that mean that the proper way to handle these events would be to use `onA

[2022-03-15 12:26] daniel1up commented on #88
I use the library on Headless Task on Android and I am facing this crash many many times.

[code]

[2022-03-24 03:05] akimabs commented on #21
any update ?

[2022-05-19 15:09] EHRdev opened #105 "Not Work in Android 12"
Hello, I have been using the library for a long time and it is a great tool.

But yesterday my phone was upgraded to Android 12 and it seems it needs additional permission:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/40396000/169329239-56e3d5e4-4b85-4818-b293-dbf8b6e7f6c0.png)

[2022-06-07 17:06] gusapc commented on #105
Hello, I have the same problem, did you find a solution?

[2022-06-07 17:12] EHRdev commented on #105
I'm sorry, I found the solution but it's in native language (Java), since I'm not good at that language I haven't been able to adapt it in React Native, I was hoping that the creator of the library would help us.

**SOLUTION IN JAVA:** https://stackoverflow.com/questions/71285519/telephonymanager-listen-not-working-after-targetsdkversion-is-set-to-31-or-andro

[2022-06-16 21:07] computerjazz commented on #105
@EHRdev thanks for the SO link, here's a patch that incorporates it: https://gist.github.com/computerjazz/a2214c50b36cbb81f4a64e3405e9b60d

[2022-06-22 03:29] EHRdev commented on #105
woooow bro, thank you very much, this is really great, thanks for sharing, I would never have been able to do it myself.

I had the opportunity to try it and it no longer gives an error <3, however it does not detect the events (Offhook, Disconnected, etc.), I use the code as it is in the documentation:

[code]

[2022-06-22 03:43] computerjazz commented on #105
as of android SDK 31 you now also need to request `READ_PHONE_STATE` permission

[2022-06-22 20:18] EHRdev commented on #105
I really appreciate the help friend, hopefully the creator of the library can apply the patch soon

[2022-06-30 00:36] dprevost-LMI commented on #105
I have just encountered this problem today, I used the patch suggested and it worked. However, I wonder why this patch was never applied and a version 1.10.0 was not delivered and that also this issue is closed?

[2022-06-30 01:24] EHRdev commented on #105
Apparently the creator of the library abandoned the project, android 12 has existed since last year and a few days ago the master **computerjazz** was the one who created the patch, I closed the issue myself because it solved the problem, but you're right, there should be a patch 1.10 that I doubt will arrive soon

[2022-07-26 15:11] ciaoamigoschat opened #107 "Event Issue - IOS"
In IOS the 'Connected' event is called at the same time as the 'Disconnected' event.
This does not allow me to calculate the duration of the call.

I am using:
"react-native": "0.68.2",

How can I solve to calculate the duration of a call in IOS.

[2022-09-12 06:24] Invictus-Munish commented on #105
Bro I am getting error in ContextCompat

`D:\munish\Desktop\Invictus\jra\node_modules\react-native-call-detection\android\src\main\java\com\pritesh\calldetection\CallDetectionManagerModule.java:60: error: cannot find symbol
telephonyManager.registerTelephonyCallback(ContextCompat.getMainExecutor(reactContext), callStateListener);
^
symbol: method getMainExecutor(ReactApplicationContext)
location:

[2022-09-15 09:54] malanchito opened #108 "Doesn't work in Android 12"
Like in a similar issue opened here in May the function startListenerTapped doesn't get called
[code]
When i check and request the permissions using react-native-permissions i get 'denied' when i check and 'blocked' when i request it (so on the device i don't get asked to allow the permission)
[code]

[2022-09-15 10:08] ciaoamigoschat commented on #108
Even myself problem.
Patch applied: https://github.com/priteshrnandgaonkar/react-native-call-detection/issues/105
but events are not called mine.

[2022-09-17 16:46] SokolovRU commented on #64
Hi! Apparently I'm doing something wrong, but I can't listen to calls in the background. How is this supposed to work? If necessary, I can attach the project code.

[2022-09-17 18:08] SokolovRU commented on #64
@renege

[2022-10-18 07:45] Vantam1601 commented on #105
telephonyManager.registerTelephonyCallback(reactContext.getMainExecutor(), callStateListener);

[2022-11-21 10:00] marcesengel commented on #105
@priteshrnandgaonkar would you mind pushing the update to npm if I prepare it or give me push access to the npm repo? https://www.npmjs.com/~marces

[2022-11-27 19:25] abdul-jabbar-ms commented on #105
Hello, can you please guide how to apply this patch? do I need to use some npm package to apply this?